<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="de"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="de"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="de"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="de"> <!--<![endif]-->
<head>
	<meta charset="utf-8">

	<title><%= projectName %> – <%= moduleName %></title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="/../css/<%= moduleName %>.css">

</head>
<body>
	<div class="content">

		<h1><%= moduleName %></h1>

		<p>Place your <%= moduleName %> demo here.</p>

	</div>
</body>
</html>